.header_wrapper {
  display: flex;
}

.header_info {
  margin-top: 15rem;
  margin-left: 10rem;
}
.header_info h1 {
  margin-block: 12px 8px;
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.2rem;
  color: var(--black-10);
}

.header_note {
  font-weight: 800;
  line-height: 2rem;
  font-size: 18px;
  color: var(--gray-web);
}

.header_info button {
  max-width: max-content;
  color: var(--white-1);
  font-size: var(--fs-6);
  font-weight: var(--fw-700);
  padding: 10px 20px;
  border-radius: var(--radius-5);
  transition: var(--transition-1);
  background-image: var(--gradient);
  background-size: 1000%;
  border: none;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
}

.header_info button:hover {
  background-position: bottom right;
}
.header_img img {
  height: 32rem;
  width: 35rem;
}

.header_img {
  margin-top: 9rem;
  margin-right: 4rem;
}
.header_info .p {
  position: relative;
  color: var(--eerie-black);
  font-size: var(--fs-5);
  font-weight: var(--fw-700);
  padding-inline-start: 15px;
}
.header_info .p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background-color: var(--red-crayola);
}
@media (max-width: 768px) {
  .header_wrapper {
    display: flex;
    flex-direction: column;
  }
  .header_info {
    margin-top: 7rem;
    margin-left: 0;
    text-align: center;
  }
  .header_info .p {
    font-size: 1rem;
  }
  .header_info h1 {
    font-size: 1.8rem;
    line-height: 2.3rem;
    padding-block: 1rem;
  }

  .header_info p {
    font-size: 1rem;
    font-weight: 100;
    width: 99%;
    line-height: 30px;
  }
  .header_info button {
    font-size: 1rem;
  }
  .header_info .p::before {
    display: none;
  }
  .header_img img {
    height: 20rem;
    width: 18rem;
  }
  .header_img {
    margin-left: 0px;
    margin-top: 55px;
  }
}
