.service_wrapper {
  margin-top: 10rem;
  background-color: var(--white-2);
  padding: 20px;
  height: 58rem;
}

.service_header {
  text-align: center;
  padding-top: 2rem;
  width: 50%;
  margin-left: 22rem;
}
.service_header h1 {
  font-size: var(--fs-2);
}

.service_header p {
  margin-block: 5px 35px;
  font-size: 20px;
  color: var(--gray-web);
}

.service_card {
  background-color: var(--white-1);
  padding: 20px 15px;
  border: 1px solid var(--platinum);
  border-radius: var(--radius-5);
  text-align: center;
  box-shadow: var(--shadow-1);
  transition: var(--transition-2);
}
.service_card h2 {
  margin-block: 20px 8px;
  cursor: pointer;
}

.service_card p {
  font-size: var(--fs-6);
  color: var(--gray-web);
}
.service_card div {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-1);
  font-size: 35px;
  border-radius: 100%;
  background-color: #13c4a1;
  margin-left: 6rem;
}

.service_card:nth-child(2) div {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #6610f2;
  margin-left: 6rem;
}

.service_card:nth-child(3) div {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #ffb700;
  margin-left: 6rem;
}
.service_card:nth-child(4) div {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #fc3549;
  margin-left: 6rem;
}
.service_card:nth-child(5) div {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #00d280;
  margin-left: 6rem;
}
.service_card:nth-child(6) div {
  height: 70px;
  width: 70px;
  border-radius: 100%;
  background-color: #ff612f;
  margin-left: 6rem;
}
.service_card:hover {
  transform: translateY(-10px);
}
.service_layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  width: 80%;
  margin-left: 8rem;
  column-gap: 2rem;
  margin-top: 3rem;
}

@media (max-width: 768px) {
  .service_wrapper {
    height: 130rem;
  }
  .service_header {
    margin-top: 7rem;
    margin-left: 2rem;
    width: 80%;
    text-align: center;
    margin-top: 1px;
  }

  .service_header h1 {
    font-size: 1.8rem;
    text-align: center;
    line-height: 2.3rem;
    padding-block: 1rem;
  }

  .service_header p {
    font-size: 0.9rem;
    font-weight: 100;
    width: 100%;
    line-height: 30px;
  }
  .service_layout {
    display: flex;
    flex-direction: column;
  }

  .service_card {
    margin-left: -6rem;
    padding: 5px 3px;
    width: 16rem;
    height: 15rem;
  }

  .service_card div,
  .service_card:nth-child(2) div,
  .service_card:nth-child(3) div,
  .service_card:nth-child(4) div,
  .service_card:nth-child(5) div,
  .service_card:nth-child(6) div {
    font-size: 20px;
    width: 60px;
    height: 60px;
    margin-top: 3px;
  }
  .service_card h2 {
    font-size: 1rem;
  }

  .service_card p {
    font-size: 0.9rem;
    font-weight: 100;
    width: 100%;
    line-height: 30px;
  }
}
